@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
  z-index: 2;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(/images/icons/arrow-bottom.svg) no-repeat right;
  background-position-x: calc(100% - 21px);
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

li {
  list-style: none;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  outline: none;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  color: #051B1F;
  font-family: "Noto Sans", sans-serif;
}

.box {
  height: 100vh;
  width: 100vw;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  width: 67%;
  margin: 0 auto;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__item {
  background-color: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.slider__views {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 0px 0px 5px 0px;
  padding: 4px 10px;
}
.slider__views-icon {
  margin-right: 6px;
}
.slider__views-count {
  font-weight: 700;
  font-size: 14px;
  color: #FF5E00;
}
.slider__img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__info {
  padding: 20px;
}
.slider__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}
.slider__location {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 20px;
}
.slider__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 15px;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 10px;
}
.slider__descr-text:not(:last-child) {
  margin-right: 20px;
}
.slider__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.slider__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slider__price {
  font-weight: 700;
  font-size: 22px;
}
.slider__usd {
  font-weight: 400;
  font-size: 14px;
}
.slider__id, .slider__date {
  color: #BBBBBB;
  font-weight: 400;
  font-size: 14px;
}
.slider__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider__btn {
  border: 1px solid #FF5E00;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #FF5E00;
  padding: 14px 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.slider__btn:hover {
  color: #FFFFFF;
  border: 1px solid transparent;
  background-color: #FF5E00;
}

.owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.owl-nav button {
  background-color: #ffffff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.owl-nav button:hover {
  background-color: #FF5E00;
}
.owl-nav button span {
  display: none;
}
.owl-dots {
  display: none;
}
.owl-prev {
  background-image: url(/images/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.owl-prev:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background-image: url(/images/icons/arrow-white.svg);
}
.owl-next {
  background-image: url(/images/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.owl-next:hover {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  background-image: url(/images/icons/arrow-white.svg);
}

.account-navigation {
  width: 300px;
}
.account-navigation__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  color: #333333;
  padding-left: 25px;
}
.account-navigation__user-photo {
  margin-right: 18px;
}
.account-navigation__user-name {
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  font-weight: 400;
}
.account-navigation__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333333;
  padding: 25px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}
.account-navigation__link svg path,
.account-navigation__link rect {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.account-navigation__link:hover {
  font-weight: 600;
  color: #FFFFFF;
  background-color: #FF5E00;
}
.account-navigation__link:hover svg path {
  stroke: #FFFFFF;
}
.account-navigation__link-img {
  margin-right: 15px;
}
.account-navigation__link-title {
  font-size: calc(
    15px + 3 *
      ((100vw - 320px) / 1600)
  );
  font-weight: 400;
}

.account-content {
  padding: 35px 50px;
  width: 75%;
  background-color: #F6F6F6;
  border-radius: 5px;
  overflow: hidden;
}
.account-content__inner {
  display: none;
}
.account-content__inner-visible {
  display: block;
}
.account-content__breadcrumbs {
  margin-bottom: 30px;
}
.account-content__breadcrumbs-link {
  font-size: 14px;
  line-height: 19px;
  color: rgba(51, 51, 51, 0.5);
}
.account-content__breadcrumbs-link:not(:last-child) {
  position: relative;
  padding-right: 10px;
}
.account-content__breadcrumbs-link:not(:last-child)::before {
  position: absolute;
  content: "/";
  right: 0;
  top: 1px;
  color: #333333;
}
.account-content__breadcrumbs-link--active {
  color: #333333;
}
.account-content__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
}
.account-content__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.01em;
  width: 50%;
}
.account-content__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.account-content__btns button:first-child {
  margin-right: 20px;
  color: #333333;
  background-color: transparent;
  border: 1px solid #FF5E00;
}
.account-content__btns button:first-child:hover {
  background-color: #FF5E00;
  color: #fff;
}
.account-content__btn {
  display: block;
  color: #FFFFFF;
  background-color: #FF5E00;
  border-radius: 5px;
  padding: 14px 20px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 18px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.account-content__btn:hover {
  color: #FF5E00;
  background-color: transparent;
  border: 1px solid #FF5E00;
}
.account-content__request {
  margin-top: 40px;
}

.account-content__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  border-radius: 5px;
}
.account-content__account__info {
  width: 35%;
}
.account-content__account-rules {
  width: 60%;
  padding: 23px 30px;
  background-color: #FFFFFF;
}
.account-content__account-rules a {
  color: #308BDE;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.account-content__account-rules a:hover {
  opacity: 0.5;
}

.form__inner {
  width: 645px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  background-color: #FFFFFF;
  border-radius: 5px;
}
.form__column {
  padding: 30px 20px;
}
.form__column:first-child {
  width: 47%;
}
.form__column:last-child {
  width: 53%;
}
.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 10px;
}
.form__item-date {
  position: relative;
}
.form__item-date:after {
  position: absolute;
  content: url(/images/icons/date.svg);
  right: 17px;
  bottom: 10px;
  z-index: 0;
}
.form__item-box {
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  padding: 7.5px 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form__item-box p {
  padding: 5px 10px;
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 5px;
  font-size: 14px;
}
.form__item-box button {
  background-color: #F6F6F6;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form__item-box button:hover {
  opacity: 0.5;
}
.form__item--edit {
  position: relative;
}
.form__item--edit::before {
  position: absolute;
  content: url(/images/icons/account-content/1.svg);
  right: 18px;
  bottom: 10px;
}
.form__item--password {
  position: relative;
}
.form__item--password::before {
  position: absolute;
  content: url(/images/icons/account-content/2.svg);
  right: 18px;
  bottom: 30px;
}
.form__item--password input {
  -webkit-text-security: none;
}
.form__change-password {
  margin-top: 5px;
  font-weight: 400;
  font-size: 12px;
  color: #6D6DBB;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form__change-password:hover {
  opacity: 0.5;
}
.form__label {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  height: 20px;
}
.form__input, .form__select {
  padding: 12.5px 15px;
  border-radius: 5px;
  border: 1px solid #D9D9D9;
  width: 100%;
  height: 45px;
  font-weight: 400;
  font-size: 14px;
  outline: none;
}
.form__input:hover, .form__select:hover {
  cursor: pointer;
}
.form__input::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.3);
}
.form__input::-moz-placeholder {
  color: rgba(51, 51, 51, 0.3);
}
.form__input:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.3);
}
.form__input::-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.3);
}
.form__input::placeholder {
  color: rgba(51, 51, 51, 0.3);
}
.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.form__btns-btn {
  border-radius: 5px;
  padding: 12.5px 34px;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #D9D9D9;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.form__btns-btn--active {
  background-color: #FF5E00;
  color: #FFFFFF;
  border: 1px solid #FF5E00;
}
.form__btns-btn:hover {
  opacity: 0.5;
}
.form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}
.form__group-item:not(:last-child) {
  margin-right: 20px;
}
.form__btn {
  font-weight: 700;
  text-transform: uppercase;
}

.account-content__my {
  margin-bottom: 55px;
}

.account-content__new-blocks {
  border-radius: 5px;
}
.account-content__new-block {
  display: none;
}
.account-content__new-block--active {
  display: block;
}
.account-content__new-block--1column .form__inner {
  width: 50%;
}
.account-content__new-block--1column .form__column {
  width: 100%;
}
.account-content__new-map {
  width: 645px;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px;
}
.account-content__new-map_title {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}
.account-content__new-map_yandex {
  height: 40vh;
  border-radius: 5px;
  overflow: hidden;
}
.account-content__new-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  margin-bottom: 40px;
}
.account-content__new-item {
  font-size: 18px;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}
.account-content__new-item:hover {
  cursor: pointer;
}
.account-content__new-item--active {
  font-weight: 700;
  color: #333333;
  position: relative;
}
.account-content__new-item--active::after {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #FF5E00;
  border-radius: 1px;
  content: "";
  bottom: -13px;
  left: 0;
}
.account-content__new-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 645px;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 31px 40px 60px 40px;
  border: 1px dashed #BBBBBB;
  margin-bottom: 40px;
  position: relative;
}
.account-content__new-photo_btn {
  margin-right: 20px;
}
.account-content__new-photo_input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.account-content__new-photo_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.account-content__new-photo_label svg path {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.account-content__new-photo_label:hover {
  cursor: pointer;
}
.account-content__new-photo_label:hover svg path {
  fill: #FF5E00;
}
.account-content__new-photo_label:after {
  position: absolute;
  content: "Объём файла не более 10МБ, в форматах: .jpg, .jpeg, .png, .mp4, .webp, .svg, .raw";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(51, 51, 51, 0.5);
  bottom: -40px;
  left: 0;
}
.account-content__new-photo_icon {
  margin-top: 3px;
  margin-left: 15px;
}
.account-content__new-photo_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(51, 51, 51, 0.5);
}