.account-content {
    padding: 35px 50px;
    width: 75%;
    background-color: #F6F6F6;
    border-radius: 5px;

    &__breadcrumbs {
        margin-bottom: 30px;

        &-link {
            font-size: 14px;
            line-height: 19px;
            color: rgba(51, 51, 51, 0.5);

            &:not(:last-child) {
                position: relative;
                padding-right: 10px;

                &::before {
                    position: absolute;
                    content: '/';
                    right: 0;
                    top: 1px;
                    color: #333333;

                }
            }

            &--active {
                color: #333333;
            }
        }
    }

    &__title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        text-transform: uppercase;
    }
}


.form {
    &__inner {
        width: 645px;
        display: flex;
        margin-bottom: 40px;
        background-color: #FFFFFF;
        border-radius: 5px;
    }

    &__column {
        padding: 30px 20px;

        &:first-child {
            width: 47%;
        }

        &:last-child {
            width: 53%;
        }
    }


    &__item {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-bottom: 10px;

        &-box {
            border: 1px solid #D9D9D9;
            border-radius: 5px;
            padding: 7.5px 15px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            p {
                padding: 5px 10px;
                border: 1px solid rgba(51, 51, 51, 0.5);
                border-radius: 5px;
                font-size: 14px;
            }

            button {
                background-color: #F6F6F6;
                font-size: 14px;
                border-radius: 5px;
                padding: 5px 10px;
                transition: all .3s;

                &:hover {
                    opacity: .5;
                }
            }
        }

        &--edit {
            position: relative;

            &::before {
                position: absolute;
                content: url(/images/icons/account-content/1.svg);
                right: 18px;
                bottom: 10px;
            }
        }

        &--password {
            position: relative;

            &::before {
                position: absolute;
                content: url(/images/icons/account-content/2.svg);
                right: 18px;
                bottom: 30px;
            }

            input {
                -webkit-text-security: none;
            }

        }


    }

    &__change-password {
        margin-top: 5px;
        font-weight: 400;
        font-size: 12px;
        color: #6D6DBB;
        transition: all .3s;

        &:hover {
            opacity: .5;
        }
    }

    &__label {
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 14px;
    }

    &__input,
    &__select {
        padding: 12.5px 15px;
        border-radius: 5px;
        border: 1px solid #D9D9D9;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        outline: none;

        &:hover {
            cursor: pointer;
        }
    }


    &__btns {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &-btn {
            border-radius: 5px;
            padding: 12.5px 34px;
            font-weight: 400;
            font-size: 14px;
            border: 1px solid #D9D9D9;

            &--active {
                background-color: #FF5E00;
                color: #FFFFFF;
                border: 1px solid #FF5E00;
            }
        }
    }

    &__btn {
        background-color: #FF5E00;
        color: #FFFFFF;
        border-radius: 5px;
        padding: 14px 25px;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        transition: all .3s;
        border: 1px solid transparent;

        &:hover {
            background-color: transparent;
            color: #FF5E00;
            border: 1px solid #FF5E00;
        }
    }
}