.account-navigation {
    width: 300px;

    &__user {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        color: #333333;
        padding-left: 25px;

        &-photo {
            margin-right: 18px;
        }

        &-name {
            @include adaptiv-font(18, 15);
            font-weight: 400;
        }
    }

    &__item {

        &:last-child {
            .account-navigation {
                &__link:hover svg {
                    path {
                        fill: #fff;
                    }
                }
            }
        }

        &--active {
            a {
                font-weight: 600;
                color: #FFFFFF;
                background-color: #FF5E00;
            }

            svg {
                path {
                    stroke: #FFFFFF;
                    fill: #FFFFFF;
                }

                rect {
                    fill: #FFFFFF;
                }
            }
        }
    }

    &__link {
        border-radius: 5px;
        display: flex;
        color: #333333;
        padding: 25px;
        transition: all .3s;

        svg path,
        rect {
            transition: all .3s;
        }

        &:hover {
            font-weight: 600;
            color: #FFFFFF;
            background-color: #FF5E00;
        }

        &:hover svg {
            path {
                stroke: #FFFFFF;
            }

            rect {
                fill: #FFFFFF;
            }
        }

        &-img {
            margin-right: 15px;
        }

        &-title {
            @include adaptiv-font(18, 15);
            font-weight: 400;
        }
    }
}

@media (max-width: 1300px) {
    .account-navigation {
        width: 250px;
    }
}

@media (max-width: 850px) {
    .account-navigation {
        margin-bottom: 40px;
    }
}