.account-navigation {
    width: 300px;

    &__user {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        color: #333333;
        padding-left: 25px;

        &-photo {
            margin-right: 18px;
        }

        &-name {
            @include adaptiv-font(18, 15);
            font-weight: 400;
        }

        &:hover{
            cursor: pointer;
        }
    }

    &__item {
        @include adaptiv-font(18, 15);
        font-weight: 400;
        border-radius: 5px;
        padding: 25px;
        color: #333333;
        display: flex;
        transition: all .3s;

        &-img {
            margin-right: 15px;
        }

        svg path,
        rect {
            transition: all .3s;
        }

        &:hover {
            cursor: pointer;
            color: #FFFFFF;
            background-color: #FF5E00;

            svg {
                path {
                    stroke: #FFFFFF;
                }
                rect {
                    fill: #FFFFFF;
                }
            }
        }
        
        &:last-child:hover {
            svg {
                path {
                    fill: #fff;
                }
            }
        }

        &--active {
            color: #FFFFFF;
            background-color: #FF5E00;

            svg {
                path {
                    stroke: #FFFFFF;
                }
            }
        }

        &:last-child.account-navigation__item--active{
            svg {
                path {
                    fill: #FFFFFF;
                }
                rect {
                    fill: #FFFFFF;
                }
            }
        }
    }

}

@media (max-width: 1300px) {
    .account-navigation {
        width: 250px;
    }
}

@media (max-width: 850px) {
    .account-navigation {
        margin-bottom: 40px;
    }
}