.account-content{
    &__account {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 30px;
        font-weight: 400;
        @include adaptiv-font(18,15);
        line-height: 25px;
        border-radius: 5px;

        &-info{
            width: 35%;
        }

        &-rules {
            width: 60%;
            padding: 23px 30px;
            background-color: #FFFFFF;
            a {
                color: #308BDE;
                transition: all .3s;
                &:hover {
                    opacity: .5;
                }
            }

        }

    }
}


@media (max-width: 1300px) {
    .account-content{
        &__account{
            flex-direction: column;
            &-info, &-rules{
                width: 100%;
            }
            &-info{
                margin-bottom: 20px;
            }
        }
    }
}